{% extends 'base.html' %}

{% block title %}<title>edit</title>{% endblock %}

{% block body %}

    <div class="container mt-5">
        <h1>Edit comment</h1>
        <form method="post">
            <textarea name="comment" id="comment" class="form-control" placeholder="your comment">{{comment.comment}}</textarea><br>
            <input type="text" class="form-control" name="person" id="person" value="{{ comment.person }}" placeholder="your name"><br>
            <input type="text" class="form-control" name="person_info" id="person_info" value="{{ comment.person_info }}" placeholder="info about you"><br>
            <button class="btn btn-success" type="submit">Edit</button>

        </form>
    </div>




{% endblock %}

