{% extends 'base.html' %}

{% block title %}<title>index</title>{% endblock %}

{% block body %}


<div class="container marketing">
  <h1>index</h1>
  <hr class="my-4">
  {% for comment in data %}

    <div class="row">
      <div class="col-lg-4">
        <h4>{{comment.comment}}</h4>
        <p>{{comment.person}} ({{comment.person_info}})
          <a class="p-1" href="#">edit</a>
          <a class="p-1" href="#">delete</a>
        </p>


      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

  {% endfor %}

</div>





{% endblock %}